<%- include('_layouts/header') %>
<div class="container">
    <center>
   <span style="font-size:35px;color: #4CAF50;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">How to find the perfect highlighter?</span> <br>
</center>
    <span style="font-size: 25px;">
        A highlighter is essentially any product that can give your skin a glow or shine. They perfectly emphasize the natural volume of the face and highlight areas that you want to bring out of the shadow. They are loved by many, including celebrities (the highlighter is a frequent guest on the red carpet): they are easy to use, and makeup immediately becomes more effective.
    </span>
</div>


<%- include('_layouts/footer') %>
