<%- include ('_layouts/header') -%>
<center>




    <div>
      <i class="fa fa-map-marker" style="font-size: x-large;"></i>
        <p style="font-size: medium;">Gulder 7,
            Kazakhstan, <br> Almaty,
           141001</p>
    </div>
<br>
    <div>
      <i  style="font-size:x-large;" class="fa fa-phone"></i>
      <p style="font-size: medium;" >87002334174, 8727224051</p>
    </div>
    <br>
    <div>
      <i style="font-size:x-large;" class="fa fa-envelope"></i>
      <p style="font-size: medium;" ><a href="aruzhan62643@gmail.com ">aruzhan62643@gmail.com </a></p>
      <br>
      <p style="font-size: medium;" > <b>Social Media Links -</b> </p> <a style="text-decoration: none;color: black;" href="https://www.instagram.com/qordasheva/"   ><i style="font-size: x-large;text-decoration: none;" class="fa fa-instagram"></i></a>


    </div>


</center>
<%- include ('_layouts/footer') -%>
