<%- include('_layouts/header') %>
<div class="container">
    <center>
   <span style="font-size:35px;color: #4CAF50;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">How to choose eyeliner?</span> <br>
</center>
    <span style="font-size: 25px;">
        To find the perfect eyeliner, consider several factors at once: the color of the eyes and the type of makeup that you plan to use it.
If, having come to the store, you are lost at the sight of huge funds, seek help from a consultant - he will help you make the right choice depending on your wishes and budget.
To test the product, apply it to the back of your hand - this way you can easily determine if you are satisfied with the saturation and thickness of the line.
If your skin is sensitive or prone to allergies, make sure that the formula is hypoallergenic.
    </span>
</div>


<%- include('_layouts/footer') %>
