<%- include('_layouts/header') %>
<div class="container">
    <center>
   <span style="font-size:35px;color: #4CAF50;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">How to choose the right lipstick?</span> <br>
</center><span style="font-size: 25px;">
    </span>
    <span style="font-size: 25px;">When choosing a shade of lipstick, you need to take into account some features of the appearance that make up the color type of a woman. These include:
● skin tone;<br>
        ● eye color;<br>
● color and shade of hair;<br>
        ● color of teeth.<br>
In addition, you need to focus on external factors such as time of day and lighting. You also need to remember about age. If you are a young girl, then, for example, bright red lipstick may not suit you.
Advice! The color type is very important when choosing not only lipstick, but also other cosmetics.
    </span>
</div>


<%- include('_layouts/footer') %>
