<%- include('_layouts/header') %>
<div class="container">
    <center>
   <span style="font-size:35px;color: #4CAF50;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">What is vegan beauty?</span> <br>
</center>
    <span style="font-size: 25px;">
        Vegan cosmetics are cosmetic products that not only have not been tested on animals, but also do not contain animal ingredients. This list of ingredients includes milk, beeswax, protein components of animals and fish, wool, silk and dyes obtained from insects.
    </span>
</div>


<%- include('_layouts/footer') %>
